* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #00031C;
    color: white;
    font-family: "Red Hat Display";
    display: flex;
    justify-content: center;
    width: 100%;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

section {
    
    background: radial-gradient(ellipse at center, #00073F, #000000);
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1920px;
    padding: 2em 0em;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.container {
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0em 2em;
}


h1 {
    text-align: center;
}

h2 {

    margin-bottom: 1em;
}



a {
    color: white;
}


/* Header */

header{
    
    margin: auto;
    width: 100%;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}

.header-nav {
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:0.5em 1.5em 0em 1.5em;
    width: 100%; 
}

#logo {
    width: 10em;
    height: auto;
    transition: transform 0.3s ease;
    }

    #logo:hover {
        transform: scale(1.1);
    }

    /* Navigation  */
header ul {
    list-style-type: none;
    /* text-align: center;
    vertical-align: center; */
    display: flex ;
    flex-direction: row;
    flex-wrap: nowrap;
}

header li {
text-align: center;
display: inline-block;
padding: 0em 1.5em;
  
}

.reseaux {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.logos-reseaux{
    width: 1.5em;
    height: auto;
    margin: auto 0.5em;
    transition: transform 0.3s ease;
}

.logos-reseaux:hover {
    transform: scale(1.2);
}

#logo-facebook {
 width: 0.75em;
}

.menu a {
    text-decoration: none;
    font-size: 1em;
    transition: transform 0.3s ease;
    display: inline-block;
}

.menu a:hover {

    transform: scale(1.2);
 
}


/* Navigation mobile et tablettes */
.menu-mobile-hamburger {

    display: none;
}

.bar {
    width: 35px;
    height: 2px;
    margin: 3px 0px;
    background-color: white;
    transition: all 0.3s ease;
}

#logo-mobile {

    display: none;
}

.menu-mobile {
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 0em 0em;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease;
    
    
  
    
}
.menu-mobile li {
    text-align: center;
    margin: 0.5em 0em;
    width: 100%;
    text-align: center;
    

}

.menu-mobile a {
    text-decoration: none;
    font-size: 1.2em;
}


/* Page d'accueil */

.accueil-section-1 {
    
    background: url(img/page-accueil-fond.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
}

.container-accueil-1 {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    max-width: 1500px;
    padding: 2em 0em;

}

.accueil-texte {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.accueil-texte-responsive {

    display: none;
}

.accueil-texte-responsive-mobile {

    display: none;
}

.accueil-texte img {

    margin: 2em 0em;
}

.accueil-texte h1 {

    font-size: 3em;
    margin-bottom: 0.5em;
}

.accueil-texte p {
    text-align: center;

}

.photo-accueil {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#accueil-photo-vaincent {
  
    width: 100%;  
}

#logo-page-accueil {
    width: 100%;
    padding-left: 2em;
   
}

#logo-page-accueil-responsive {
    width: 70%;
    display: none;
}

.accueil-texte-responsive-mobile-texte{

    display: none;
}

/* Accueil section 2 */

.accueil-video div iframe {

    width: 50%;
    margin: 2em 2em;
    
}

.accueil-video div article {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*  Accueil section 3: concerts */

.accueil-concerts {

    background: #AEA05A;
    color: #00073F;
}

.container-accueil-concerts {
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em 2em;    
    
}

.tableau-concerts th,.tableau-concerts td {
    padding: 0.5em 2em;
    border-top: #00073F 1px solid;
    border-bottom: #00073F 1px solid;
    text-align: center;
}

.tableau-concerts {
    border-collapse: collapse;
}

/* Page Biographie */

.container-biographie {
    
    background: radial-gradient(ellipse at center, #00073F, #000000);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
    
}



/* Médias queries */

@media (min-width: 600px) and (max-width: 1000px) {

    /* Nav tablette */

    #logo {
        width: 8em;
    }

    .menu-mobile-hamburger {
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    .affichage-menu-mobile {

        padding: 1em 0em;
        max-height: 100%;
        transition: all 1s ease;
        
    
    }

    .burger-in-use {
       
        margin: 0px 0px;
        transition: all 0.3s ease;

    }

    /* Global tablette */

    section {
    
        background: radial-gradient(ellipse at center, #00073F, #000000);
        background-size: cover;
        background-position: center;
        width: 100%;
        max-width: 1920px;
        padding: 2em 0em;
    }

    .container {
        max-width: 1500px;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0em 2em;
    }

    /* Accueil section 1 tablette */
    
    .accueil-section-1 {
    
        background: url(img/page-accueil-fond.jpg) no-repeat ;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;  
    } 
    
    .photo-accueil {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 50%;
    }

    #accueil-photo-vaincent {
  
        width: 100%;  
    }

    .accueil-texte {
        display: none;
    }

    .accueil-texte-responsive {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        position: relative;
        z-index: 2;
        margin-left: 2em;
        margin-right: -2em;
        text-align: center;

    }

    .accueil-texte-responsive p{

        margin: 0.3em 0em;
    }

    .accueil-texte-responsive h1{

        margin: 1em 0em;
        font-size: 2em;
    }

    #logo-page-accueil {

        display: none;
    }

    #logo-page-accueil-responsive {
        width: 50%;
        display: flex;
        padding-left: 5em;
    }

    /* Accueil section 2 tablettes */

.accueil-video div iframe {

    width: 80%;
    margin: 2em 2em;
    
}

.accueil-video div article {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

}
/* Mobiles */

@media (max-width: 600px){

    /* nav mobile */

    .header-nav {
        max-width: 1500px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding:0.5em 1.5em 0em 1.5em;
        width: 100%; 
    }

    #logo {
        width: 8em;
        display: none;
    }

    #logo-mobile {

        display: block;
    }

    .menu-mobile-hamburger {
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    .affichage-menu-mobile {

        padding: 1em 0em;
        max-height: 100%;
        transition: all 1s ease;
        
    
    }

    .burger-in-use {
       
        margin: 0px 0px;
        transition: all 0.3s ease;

    }

    /* Global mobile */

    section {
    
        background: radial-gradient(ellipse at center, #00073F, #000000);
        background-size: cover;
        background-position: center;
        width: 100%;
        max-width: 1920px;
        padding: 2em 0em;
    
    }

    .container {
        max-width: 1500px;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 2em 0.2em;
    }

    /* Accueil section 1 mobile */

    .accueil-section-1 {
    
        background: url(img/page-accueil-fond.jpg) no-repeat ;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;  
        padding: 2em 0.2em;
    } 
    
    .photo-accueil {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    #accueil-photo-vaincent {
  
        width: 100%;  
    }

    .accueil-texte {
        display: none;
    }

    .accueil-texte-responsive {

        display: none;
    }

    .accueil-texte-responsive-mobile {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        position: relative;
        z-index: 2;
        margin-left: 0em;
        margin-right: -1em;
        text-align: center;
    }

    .accueil-texte-responsive-mobile-texte p{

        margin: 0.3em 0em;
        text-align: center;
    }

    .accueil-texte-responsive-mobile-texte h1{

        margin: 0em 0em 1em 0em;
        font-size: 2em;
    }

    .accueil-texte-responsive-mobile-texte {

        display: flex;
        flex-direction: column;
        position: relative;
        top: -10%;

    }

    #logo-page-accueil {

        display: none;
    }

    #logo-page-accueil-responsive {
        width:70%;
        display: block;
        padding-left: 20%;
    }


        /* Accueil section 2 mobile */

.accueil-video div iframe {

    width: 100%;
    margin: 2em 2em;
    
}

.accueil-video div article {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    /*  Accueil section 3 mobile */

    .tableau-concerts th,.tableau-concerts td {
        padding: 0.5em 0.5em;
        border-top: #00073F 1px solid;
        border-bottom: #00073F 1px solid;
        text-align: center;
    }
}