@font-face {
    font-family: "HopperScript" ;
    src: url(polices/HopperScript.ttf);
}

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #00031C;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    width: 100%; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

section {
    
    /* background: radial-gradient(ellipse at center, #00073F, #000000);
    background-size: cover;
    background-position: center; */
    background: #00031C;
    width: 100%;
    max-width: 1920px;
    padding: 2em 0em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    t

}

.container {
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0em 2em;
    width: 100%;
    padding: 1em 0em;
}


h1 {
    text-align: center;
    font-weight: 100;
    font-size: 2.5em;
}

h2 {

    margin-bottom: 1em;
    text-align: center;
}

h3 {

    font-size: 1em;
    text-align: center;
    margin-bottom: 0.5em;
}

p {
    text-align: center;
}

a {
    color: white;
}

.hopper-font {
    font-family: "HopperScript", "Nunito Sans", sans-serif;
}


/* Header */

header{
    
    margin: auto;
    width: 100%;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.header-nav {
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:0.5em 1.5em 0em 1.5em;
    width: 100%; 
}

.container-menu-mobile {

    display: flex;
    justify-content: center;
}

#logo {
    width: 10em;
    height: auto;
    transition: transform 0.3s ease;
    }

    #logo:hover {
        transform: scale(1.1);
    }

    /* Navigation  */
header ul {
    list-style-type: none;
    /* text-align: center;
    vertical-align: center; */
    display: flex ;
    flex-direction: row;
    flex-wrap: nowrap;
}

header li {
text-align: center;
display: inline-block;
padding: 0em 1.5em;
  
}

.reseaux {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.logos-reseaux{
    width: 1.5em;
    height: auto;
    margin: auto 0.5em;
    transition: transform 0.3s ease;
}

.logos-reseaux:hover {
    transform: scale(1.2);
}

#logo-facebook {
 width: 0.75em;
}

.menu a {
    text-decoration: none;
    font-size: 1em;
    transition: transform 0.3s ease;
    display: inline-block;
}

.menu a:hover {

    transform: scale(1.2);
 
}


/* Navigation mobile et tablettes */
.menu-mobile-hamburger {

    display: none;
}

.bar {
    width: 35px;
    height: 2px;
    margin: 3px 0px;
    background-color: white;
    transition: all 0.3s ease;
}

#logo-mobile {

    display: none;
}

.menu-mobile {
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease;
    
    
  
    
}
.menu-mobile li {
    text-align: center;
    margin: 0.5em 0em;
    width: 100%;
    text-align: center;
    

}

.menu-mobile a {
    text-decoration: none;
    font-size: 1.2em;
}


/*  Footer */
.section-footer{
    background: #000000;
}
.section-footer div {
    margin: 0% 10%;
}

#h3-reseaux {
    margin-bottom: 1em;
}

.section-footer-2 {

    background: #000000;   
}

.section-footer-2 a {

    color: rgba(225, 225, 225, 0.2);
    text-decoration: none;
    margin: 0em 2em;
    transition: all 0.3s ease;
}

.section-footer-2 a:hover {

    color: rgba(225, 225, 225, 0.7);
}

/* Page d'accueil */


.accueil-section-1 {
    
    background: url(img/page-accueil-fond.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
}

.container-accueil-1 {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    max-width: 1500px;
    padding: 2em 0em;

}

.accueil-texte {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.accueil-texte-responsive {

    display: none;
}

.accueil-texte-responsive-mobile {

    display: none;
}

.accueil-texte img {

    margin: 2em 0em;
}

.accueil-texte h1 {

    font-size: 5em;
    margin-bottom: 0.5em;
    word-spacing: 0em;
}

.tenor-h1{

    font-size: 0.5em;
    word-spacing: 0.5em;
}

#opera {
    color: #AEA05A;
}

.accueil-texte p {
    text-align: center;

}

.photo-accueil {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#accueil-photo-vaincent {
  
    width: 80%;  
}

#logo-page-accueil {
    width: 100%;
    padding-left: 2em;
   
}

#logo-page-accueil-responsive {
    width: 70%;
    display: none;
}

.accueil-texte-responsive-mobile-texte{

    display: none;
}

/* Accueil section 2 */

.accueil-video div iframe {

    width: 50%;
    margin: 2em 2em;
    
}

.accueil-video div article {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*  Accueil section 3: concerts */

.accueil-concerts {

    background: #AEA05A;
    color: #00073F;
}

.container-accueil-concerts {
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em 2em;    
    
}

#tableau-concerts th,#tableau-concerts td {
    padding: 0.5em 2em;
    border-top: #00073F 1px solid;
    border-bottom: #00073F 1px solid;
    text-align: center;
}

#tableau-concerts thead th{

    border-top: none;
}

#tableau-concerts {
    border-collapse: collapse;
    width: 100%;
}

/* Page Biographie */

.container-biographie {
    
    margin-top: 5%;
    background-image: url(img/biographie-fond.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    
}

.container-biographie h1 {

    margin: 10% 0% 4% 0%;
    
}

.container-biographie p {
    
    text-align: justify;
    padding: 0.5em;
    background-color: rgba(00, 00, 00, 0.1);
}

.container-biographie article {

    max-width: 50%;
    margin-left: 40%;
}

/* Page mentions légales */

.section-mentions-legales {
    padding-bottom: 5%;
}

.container-mentions-legales {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}

.container-mentions-legales h1 {

    margin: 10% 0% 2% 0%;
}

.container-mentions-legales h2 {

    margin: 2em 0em 0.5em 0em ;
    font-size: 1.2em;
   
}

/* Page concerts */

#correction-page-concerts{
    
    width: 100%;
    max-width: 1920px;
    height: 70vh;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AEA05A;
    padding: 0em 0em 3em 0em;

}

/* Page au jour le jour */
.au-jour-le-jour {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
}

.au-jour-le-jour h1 {

    color: #AEA05A;
    margin-bottom: 1em;
}

.au-jour-le-jour h1 span {

    margin: 0em 0.5em;
    font-size: 1.5em;
}

.blog {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2em 0em;

}

.reverse-blog {

    flex-direction: row-reverse;
}

.blog img{

    width: 35%;
}

.blog div {

    width: 65%;
    margin: 0em 2em;
}

.blog div h2 {

    color: #AEA05A;
}

.au-jour-le-jour hr {

    border: none;
    background-color: #AEA05A;
    opacity: 0.5;
    width: 50%;
    height: 1px;
    margin: 2em 0em;
}

.date {

    margin-top: 1em;
    text-align: end;
}
/* Page médias */

.medias {
    display:block;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    margin: 0em auto;
    width: 100%;
    background: #00031C;
    padding-bottom: 0em;
    
}

.medias h1 {
    color: #AEA05A;
    margin: 1em 0em;
    font-size: 2.5em;   
}
.medias h2{
    transition: all ease 0.2s;
    margin: 0em 0em;
}

.medias h2:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.medias hr {
    border: none;
    background-color: #AEA05A;
    opacity: 0.5;
    width: 30%;
    height: 1px;
    margin: 2em auto;
}

.photos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1%;
    margin: 1em 1em;
    max-height: 0px;
    overflow: hidden;
    transition: all ease 1s;
    width: 100%;
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.photos-grid img {
    max-width: 100%;
    transition: all ease 0.3s;
}

.photos-grid img:hover{
    transform: scale(1.1);
}

.videos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1%;
    margin: 1em 1em;
    max-height: 0px;
    overflow: hidden;
    transition: all 1s ease;
    width: 100%;
}

.full-height {
    max-height: 100%;
    transition: all 1s ease;
}

.videos  iframe {
    max-width: 100%;
}

.display-block {
    display: block;
}

/* Page contact */

.section-contact {

    padding-top: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  
}
.div-contact {

    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0%;
}

input {

    margin: 0.5em 0em 1em 0em;
    text-align: center;
}

#label-name {

    padding-left: 1em;
}

#email {
    width: 100%;
}

#subject {

    width: 100%;
}

#message {

    width: 100%;
    height: 10em;
    text-align: left;
}

input[type="submit"] {

    width: 30%;
    margin-top: 2em;
    
}

.warning {
    color:#c91010;
}

/*/////////////////////////////
         Médias queries 
//////////////////////////////*/

@media (min-width: 600px) and (max-width: 1024px) {

    /* Nav tablette */

    #logo {
        width: 8em;
    }

    .menu-mobile-hamburger {
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    .affichage-menu-mobile {

        padding: 1em 0em;
        max-height: 100%;
        transition: all 1s ease;
        
    
    }

    .burger-in-use {
       
        margin: 0px 0px;
        background-color: #AEA05A;
        

    }

    /* Global tablette */

    section {
    
        background: radial-gradient(ellipse at center, #00073F, #000000);
        background-size: cover;
        background-position: center;
        width: 100%;
        max-width: 1920px;
        padding: 2em 0em;
    }

    .container {
        max-width: 1500px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0em 2em;
    }

    /* Footer tablette */

    #h3-reseaux {
        margin-top: 2em;
    }

    /* Accueil section 1 tablette */
    
    .accueil-section-1 {
    
        background: url(img/page-accueil-fond.jpg) no-repeat ;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;  
    } 
    
    .photo-accueil {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 50%;
    }

    #accueil-photo-vaincent {
  
        width: 100%;  
    }

    .accueil-texte {
        display: none;
    }

    .accueil-texte-responsive {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        position: relative;
        z-index: 2;
        margin-left: 2em;
        margin-right: -2em;
        text-align: center;

    }

    .accueil-texte-responsive p{

        margin: 0.3em 0em;
    }

    .accueil-texte-responsive h1{

        margin: 1em 0em;
        font-size: 3em;
    }

    #logo-page-accueil {

        display: none;
    }

    #logo-page-accueil-responsive {
        width: 50%;
        display: flex;
        padding-left: 5em;
    }

    /* Accueil section 2 tablettes */

.accueil-video div iframe {

    width: 80%;
    margin: 2em 2em;
    
}

.accueil-video div article {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Biographie tablette */
.section-biographie {

    padding-top: 10%;
}

.container-biographie{
    justify-content: start;
    height: auto;
    padding-bottom: 20%;
}


/* Au jour le jour tablette */

.blog {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2em 0em;

}

.blog img{

    width: 80%;
    margin-bottom: 1.5em;
}

.blog div {

    width: 90%;
    margin-left: 0em;
}

.au-jour-le-jour h1 {

    color: #AEA05A;
    margin-bottom: 0em;
}

.au-jour-le-jour h1 span {

    margin: 0em 0.5em;
    font-size: 1.5em;
}

/* Page contact tablette */

.section-contact {

    padding-top: 80px;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0%;
    width: 80%;
}

/* Page médias tablette*/

.photos-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}
.videos-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}

.medias h2:hover {
    transform: none;
}

}


/* Mobiles */

@media (max-width: 600px){

    /* nav mobile */

    .header-nav {
        max-width: 1500px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding:0.5em 1.5em 0em 1.5em;
        width: 100%; 
    }

    #logo {
        width: 8em;
        display: none;
    }

    #logo-mobile {

        display: block;
    }

    .menu-mobile-hamburger {
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    .affichage-menu-mobile {

        padding: 1em 0em;
        max-height: 100%;
        transition: all 1s ease;
        
    
    }

    .burger-in-use {
       
        margin: 0px 0px;
        transition: all 0.3s ease;
        background-color: #AEA05A;

    }

    /* Global mobile */

    section {
    
        background: radial-gradient(ellipse at center, #00073F, #000000);
        background-size: cover;
        background-position: center;
        width: 100%;
        max-width: 1920px;
        padding: 2em 0em;
    
    }

    .container {
        max-width: 1500px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em 0.2em;
    }

    .column-reverse {

        flex-direction: column-reverse;
    }

    /* Footer mobile */

    .section-footer {

        margin: 0em;
    }

    #h3-reseaux {
        
        margin-top: 2em;
    }
    

    #h3-reseaux {
        margin-bottom: 0.5em;
    }

    .section-footer-2 a {

        color: rgba(225, 225, 225, 0.2);
        text-decoration: none;
        margin: 0.5em 2em;
    }


    /* Accueil section 1 mobile */

    .accueil-section-1 {
    
        background: url(img/page-accueil-fond.jpg) no-repeat ;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;  
    } 
    
    .photo-accueil {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    #accueil-photo-vaincent {
  
        width: 100%;  
    }

    .accueil-texte {
        display: none;
    }

    .accueil-texte-responsive {

        display: none;
    }

    .accueil-texte-responsive-mobile {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        position: relative;
        z-index: 2;
        margin-left: 0em;
        margin-right: -1em;
        text-align: center;
    }

    .accueil-texte-responsive-mobile-texte p{

        margin: 0.3em 0em;
        text-align: center;
        width: 95%;
        opacity: 0.7;
    }

    .accueil-texte-responsive-mobile-texte h1{

        margin: 0em 0em 0.5em 0em;
        font-size: 3em;
    }

    .accueil-texte-responsive-mobile-texte {

        display: flex;
        flex-direction: column;
        position: relative;
        top: -10%;

    }

    #logo-page-accueil {

        display: none;
    }

    #logo-page-accueil-responsive {
        width:70%;
        display: block;
        padding-left: 20%;
    }


        /* Accueil section 2 mobile */
      

.accueil-video div iframe {

    width: 100%;
    margin: 2em 2em;
    
}

.accueil-video div article {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    /*  Accueil section 3 mobile */

    #tableau-concerts th,#tableau-concerts td {
        padding: 0.5em 0.5em;
        border-top: #00073F 1px solid;
        border-bottom: #00073F 1px solid;
        text-align: center;
    }

    /* Biographie mobile */

    .container-biographie{
        justify-content: start;
        margin-top: 2em;
        height: auto;
        background-position: center;
    }


    .container-biographie article {

        max-width: 95%;
        margin-left: 0%;
    }

    .container-biographie p {
    
        text-align: justify;
        padding: 0.5em;
        background-color: rgba(00, 00, 00, 0.3);
    }

    /* Au jour le jour mobile */

    .blog {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 2em 0em;
    
    }
    
    .blog img{
    
        width: 80%;
        margin-bottom: 1.5em;
    }
    
    .blog div {
    
        width: 90%;
        margin-left: 0em;
    }
    
    .au-jour-le-jour h1 {
    
        color: #AEA05A;
        margin-bottom: 0em;
        font-size: 2em;
    }
    
    .au-jour-le-jour h1 span {
    
        margin: 0em 0.3em;
        font-size: 1.5em;
    }

    /* Page contact mobile */
    
    .section-contact {

        padding-top: 20%;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 0%;
        width: 90%;
    }

    form div {

        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #label-name {

        padding-left: 0em;
    }

    label {

        align-self: flex-start;
    }


    /* Page médias tablette*/

.photos-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    margin: 1em 0em;
}
.videos-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    margin: 1em 0em;
}

.medias h2:hover {
    transform: none;
}

}


/* Avec script js */

.affichage-off {
    display: none;
}

.active {
    color: #AEA05A;
}

.background-desactive {
    background: rgba(0, 0, 0, 0);
}